main {
  text-align: center;
  position: relative;
}

#form-popup {
  width: 500px;
  z-index: 9;
  position: absolute;
  left: 50%;
  margin: 20px auto 20px -250px;
  text-align: left;
  display: none;
  background-color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.card {
  border: 3px solid black;
  width: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  z-index: 1;
}