body {
  background-color: #f1f5f9;
}

main {
  text-align: center;
  position: relative;
}

#form-popup {
  width: 500px;
  z-index: 9;
  position: absolute;
  left: 50%;
  margin: 20px auto 20px -250px;
  text-align: left;
  display: none;
  background-color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #94a3b8;
  border-radius: 5px;
  width: 300px;
  display: grid;
  background-color: #f8fafc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  z-index: 1;
  padding: 20px;
}

#add-btn {
  background-color: #f1f5f9;
  border: none;
  border-radius: 7px;
  margin: 20px;
}

#add-btn:hover {
  background-color: #e2e8f0;
}

.btn-read {
  background-color: #c4b5fd;
}

.btn-not-read {
  background-color: #fda4af;
}